# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: autodrive

on:
  schedule:
    - cron: '0 10,22 * * *'

jobs:
  dailyrun:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8.10
      uses: actions/setup-python@v2
      with:
        python-version: 3.8.10

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -r requirements.txt

    - name: Config git
      run: |
        git config user.email "ww-rm@qq.com"
        git config user.name "ww-rm"
        git pull --ff

    - name: Connection test
      run: |
        bash "scripts/connection_test.sh"

    - name: Run autodrive
      run: |
        python3 -m autodrive "conf/autodrive.json" ${{ secrets.RUNKEY }}

    - name: Commit autodrive
      run: |
        git add .
        bash "scripts/safe_commit.sh" "autorun-autodrive"
        git pull --ff
        git push
